.compose {
  padding: 10px;
  display: flex;
  align-items: center;
  background: white;
  border-top: 1px solid rgb(189, 180, 180);
  position: fixed;
  width: calc(70% - 20px);
  bottom: 0px;
}
@media only screen and (max-width: 600px) {
  .compose {
    width: calc(100% - 20px);
  }
}

.buttonSend {
  width: 80px;
}

.compose-input {
  flex: 1;
  font-size: 14px;
  height: 40px;
  background: none;
}

.compose-input::placeholder {
  opacity: 0.6;
}

.scrollable {
  position: fixed;
  width: 100%;
  margin-top: 30px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  bottom: 60px;
  top: 50px;
}

@media only screen and (max-width: 768px) {
  .scrollable {
    top: 270px;
  }
}

.message {
  border-left: 0 none;
  border-right: 0 none;
  line-height: 1.5rem;
}

.msgText {
  white-space: pre-wrap;
}